<html>
<head>

</head>
<body>
Cl1p view <%= message %>

<form id="itemForm">
    <input type="hidden" id="uri" value="<%= cl1pPath %>" required>
    <textarea id="content"></textarea>
    <br>
    <button type="submit">Save</button>
</form>


<script>
    document.getElementById('itemForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const uri = document.getElementById('uri').value;
        const content = document.getElementById('content').value;

        fetch('<%= cl1pPath %>'
            , {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ uri, content })
            })
            .then(response => response.json())
            .then(item => {
                console.log('Saved');
            })
            .catch(error => console.error('Error:', error));
    });
</script>
</body>
</html>