<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}cl1pv4{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% block header %}{% endblock %}
</head>
<body>
            {% block content %}
            <p>This is a mobile-first webapp with a responsive and hidden menu. Click the menu button to show or hide the navigation links.</p>
            {% endblock %}
</body>
</html>
